openapi: 3.2.0
info:
  title: Monetate Data API
  description: The Monetate Data API allows you to create and send data across any channel in real time. This data is leveraged by Monetate's real-time decisioning engine to deliver 1:1 experiences across any channel.
  version: v1
servers:
- url: https://api.monetate.net/api/data/v1/{retailerShortname}/production
security:
- Token Authentication: []
tags:
- name: Data
  description: Data related endpoints.
paths:
  /data/example_schema/:
    get:
      tags:
      - Data
      summary: Get Data for example_schema
      description: 'Get an existing data record within the schema `example_schema`.


        Allows querying of an existing record. The record ID must be passed as a query parameter,

        e.g. `?id=ABC12345`. GET requests are intended solely for manual spot-checking of data

        and must not be used in any automated queries, including test suites or health checks.

        As such, they are strictly rate-limited. A maximum of 1 GET request per second is permitted.'
      responses:
        '200':
          description: The requested record was found in the schema.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/example_schemaDataResponse'
        '400':
          description: "Validation error. \n\nOne or more values being sent was not in the correct format, or a required value was missing."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '401':
          description: "Unauthorized. \n\nThe request did not include a token, or the token provided was invalid. Please ensure that your token is correct and that the Authorization header is properly formatted."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '403':
          description: 'Forbidden.


            The request included a token that has been revoked. Please contact your account administrator to generate a new token.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '404':
          description: 'Not found.


            The resource you are trying to fetch does not exist, or has been deleted.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '429':
          description: 'Too many requests.


            The user has sent too many requests in a given amount of time to a rate-limited endpoint.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '500':
          description: 'Unknown error.


            Please try again or contact your account manager for more information.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
      x-codegen-request-body-name: data
      operationId: getDataExampleSchema
      x-operation-id-source: derived
    post:
      tags:
      - Data
      summary: Post Data for example_schema
      description: 'Creates new data records within the schema `example_schema`.


        If your request contains a unique key that matches a record already received by Monetate, the record is updated with the latest data.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/example_schemaDataRequest'
        required: false
      responses:
        '201':
          description: Data was posted for the schema and will be made available for targetting.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/example_schemaDataResponse'
        '400':
          description: "Validation error. \n\nOne or more values being sent was not in the correct format, or a required value was missing."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '401':
          description: "Unauthorized. \n\nThe request did not include a token, or the token provided was invalid. Please ensure that your token is correct and that the Authorization header is properly formatted."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '403':
          description: 'Forbidden.


            The request included a token that has been revoked. Please contact your account administrator to generate a new token.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '404':
          description: 'Not found.


            The resource you are trying to fetch does not exist, or has been deleted.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '500':
          description: 'Unknown error.


            Please try again or contact your account manager for more information.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
      x-codegen-request-body-name: data
      operationId: postDataExampleSchema
      x-operation-id-source: derived
components:
  schemas:
    ResponseMeta:
      required:
      - code
      type: object
      properties:
        code:
          type: integer
          description: The http response code for this response.
          example: 200
        warnings:
          type: array
          description: A list of warnings associated with this response.
          example: []
          items:
            type: object
            additionalProperties: true
        errors:
          type: array
          description: A list of errors associated with this response.
          example: []
          items:
            type: object
            additionalProperties: true
    example_schemaData:
      required:
      - schema_rows
      type: object
      properties:
        schema_rows:
          minItems: 0
          type: array
          items:
            required:
            - example_field1
            type: object
            properties:
              example_field1:
                type: string
              example_field2:
                type: string
                format: date-time
              example_field3:
                type: boolean
              example_field4:
                type: number
              example_field5:
                type: string
      description: Representation of the `fields` for this Schema.
      example:
        schema_rows:
        - example_field1: example string
          example_field2: 2016-09-30 12:10:45.000145+00:00
          example_field3: true
          example_field4: 10.5
          example_field5: example,secondexample
    Response:
      required:
      - data
      - meta
      type: object
      properties:
        meta:
          $ref: '#/components/schemas/ResponseMeta'
        data:
          $ref: '#/components/schemas/ResponseAnyData'
    example_schemaDataResponse:
      required:
      - data
      - meta
      type: object
      properties:
        meta:
          $ref: '#/components/schemas/ResponseMeta'
        data:
          $ref: '#/components/schemas/example_schemaData'
    example_schemaDataRequest:
      description: Representation of the `fields` for this Schema.
      allOf:
      - $ref: '#/components/schemas/example_schemaData'
      - type: object
        properties:
          _sent_time:
            type: string
            description: The time the request was sent
            format: date-time
    ResponseAnyData:
      type: object
      additionalProperties: true
  securitySchemes:
    Token_Authentication:
      type: apiKey
      description: The Monetate Data API uses Token Authentication, so requests to the Data API must include a valid, active authentication token. Include an `Authorization` header with the value `Token [token_string]` with every request. See [Auth API](https://developer.monetate.com/auth-api) for information on obtaining the *token_string*.
      name: Authorization
      in: header
x-original-swagger-version: '2.0'
